<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <div class="ion-padding">
      <h1 cwsclick>click me</h1>
    </div>
    <ion-button cwsclick (click)="test()">Button </ion-button>
    <br>
    <hr>
    <div cwsclick [data]="tm" class="cwsclick">
      <div [innerHtml]="dynamicHtml">
      </div>
    </div>
    <hr>
    <ion-button color="secondary" (click)="showPop()">
      Show Alert
    </ion-button>
    <ion-button color="secondary" (click)="showModal()">
      Show Modal
    </ion-button>
    <app-cws-tm-modal [tm]="tm"></app-cws-tm-modal> -->
<div>
  <app-cws-target-message></app-cws-target-message>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eum neque earum quis at unde optio cum iusto accusamus dolor in hic sunt ut saepe non placeat, odio id consequatur.
</div>
  </div>
</ion-content>
